/* common shared styles */

body {
  font-family: "Open Sans", system-ui;
}
.text-primary {
  color: #fd6e0a;
}
.button-primary {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: #181818;
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.btn-hireme {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
}

/* header related styles */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  align-items: center;
  /* background-image: url('../images/developer.png'); */
}
/* .developer-pic{
align-items: center;
margin-right: 0px;
margin-left: 0px;
margin: 38px 20px 25px 71px;
height: 600px;
} */
/* .banner-dev{
    display: flex;
    align-items: center;
} */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
  margin-right: 38px;
  /* height: 676px;
flex-shrink: 0; */
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  margin-top: 5px;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 500px;
}
.button-download {
  margin-top: 0px;
}
.button-contact {
  margin-top: 0px;
}

/* ************************* */
/* main section styles */

main {
  max-width: 1140;
  margin: 0 auto;
}

/* ************************* */
/* about section styles */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 230px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.info-desciption {
  color: #474747;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/* ************************* */
/*  what i do  */

#what-i-do-description {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  justify-content: space-around;
}
.skill {
  width: 267px;
  height: 377px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
  color: #181818;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding: 20px 30px 30px 30px;
  margin: 0;
}
.skill-img-style {
  padding: 30px 193px 30px 30px;
}
/* ************************* */
/* A summary of My Resume */
.the-summary-title {
  text-align: center;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.summary-container {
  display: flex;
  /* width: 50%; */
  gap: 50px;
}
/* .summary-column hr{
  margin: 30px;
} */
.resume-column-title {
  color: #474747;
  margin-left: 230px;
  font-size: 30px;
  font-weight: 700;
}
.summary-item {
  margin-left: 230px;
  margin-right: 71px;
  border-bottom: 1px solid #d1d1d1;
}
/* .summary-container hr{
  margin: 30px;
 
} */
.summary-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.summary-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.summary-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}

/* ======footer style========= */
/* ++++++++++++=++++++++++++++ */

footer {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
  margin-top: 100px;
}
.footer-column {
  width: 50%;
}
.contuct-form {
}
.contuct-form input[type="text"],.contuct-form input[type="email"] ,
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 30px;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}
